/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

h3, h4 {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 400;
}

h1, h2 {
    font-family: 'Raleway';
    font-weight: 800;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 10px;
    color: white;
}
 
.recept h1, 
.recept h2 {
    position: absolute;
    bottom: 0;
    text-shadow: 1px 1px 5px black;
}

.recept h4 {
    position: absolute;
    right: 0;
    top: 0;
}

.recept h3 {
    position: absolute;
    left: 0;
    top: 0;
}

.recept {
    min-height: 90px;
    border: 0.5px solid white;
    border-bottom: 0;
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    position: relative;
}

.hlavni {
    background-image: url(images/salat.jpg);
	min-height: 200px;
}

.r2 {
    background-image: url(images/chlebicek.jpg);
}

.r3 {
    background-image: url(images/tacos.jpg);
}

.r4 {
    background-image: url(images/cizrna.jpg);
}

.r5 {
    background-image: url(images/burger.jpg);
}

@media (min-width: 480px) {
    .recepty {
        display: flex;
        flex-wrap: wrap;
    }

    .hlavni {
        min-height: 250px;
        flex: 1 1 100%;
        padding: 20px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 22px;
    }

    h1, h2, h3, h4 {
        padding: 20px;
    }

    .male {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .r2, .r3, .r4, .r5 {
        flex: 1 0 50%;
        min-height: 150px;
        border-left: 0;
    }
}

@media (min-width: 860px) {
    
    .hlavni {
        flex: 1 1 50%;
        font-size: 48px;
        min-height: 400px;
    }

    .male {
        flex: 1 1 50%;
        min-height: 200px;
    }

    h2 {
        font-size: 28px;
    }

    h1 {
        font-size: 48px;
    }
}